*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/scripts/electeurs.xlsx
/app/src/main/assets/electeurs.json
/app/src/main/assets/electeurs1.json

# Gradle
.gradle/
build/

app/build.gradle.kts
app/src/main/res/values/colors.xml
build.gradle.kts
gradle.properties
settings.gradle.kts